@media (max-width: 1081px) {
} /* ===== device (xs 0 > 576) ===== */
@media (max-width: 575.98px) {
  .login_area {
    display: none;
  }
  .main_menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: red;
  }
  .main_menu.active{
    right: 0;
  }
  .main_menu ul {
    flex-direction: column;
  }

  .collapse_menu_bar {
    display: block;
  }
}
/* ===== device (xs 0 > 576) ===== */

/* ==== device (sm 576 > 768) ==== */
@media (min-width: 576px) and (max-width: 767.98px) {
}
/* ==== device (sm 576 > 768) ==== */

/* ==== device (md 768 > 992) ====*/
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* ===== device (md 768 > 992) ==== */

/* ===== device (lg 992 > 1200) ===== */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* ===== device (lg 992 > 1200) ===== */

/* ====device (xl 1200 > 1400) ===== */
@media (min-width: 1200px) and (max-width: 1400px) {
}
/* ==== device (xl 1200 > 1400) =====*/
/* ===== device (xxl 1400 >>) ===== */
@media (min-width: 1400px) {
}

/* ===== device (xxl 1400 >>) ===== */
