@media (max-width: 1081px) {
  .login_area {
    display: none;
  }
}
@media (max-width: 800px) {
  .main_menu {
    position: absolute;
    top: 100%;
    right: -100%;
    box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.3),
      -2px -2px 4px -1px rgba(0, 0, 0, 0.6);
    z-index: 999999;
    transition: all 0.3s ease-in-out;
    width: 50%;
    border-radius: 5px;
    padding: 20px 0;
  }

  .main_menu ul {
    flex-direction: column;
  }
  .main_menu ul li {
    width: 80%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-bottom: 5px;
}

  .collapse_menu_bar {
    display: block;
  }
}

/* ===== device (xs 0 > 576) ===== */
@media (max-width: 575.98px) {
}
/* ===== device (xs 0 > 576) ===== */

/* ==== device (sm 576 > 768) ==== */
@media (min-width: 576px) and (max-width: 767.98px) {
}
/* ==== device (sm 576 > 768) ==== */

/* ==== device (md 768 > 992) ====*/
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* ===== device (md 768 > 992) ==== */

/* ===== device (lg 992 > 1200) ===== */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* ===== device (lg 992 > 1200) ===== */

/* ====device (xl 1200 > 1400) ===== */
@media (min-width: 1200px) and (max-width: 1400px) {
}
/* ==== device (xl 1200 > 1400) =====*/
/* ===== device (xxl 1400 >>) ===== */
@media (min-width: 1400px) {
}

/* ===== device (xxl 1400 >>) ===== */
