/* Import fonts */

@import url(./googleFonts.css);

/* Global Variables */
:root {
  --body_bg: #1e1e1e;

  --h2_font_size: 40px;
  --font_weight_bold: 700;
  --h2_line_height: 45px;
  --color_white: #fff;

  --para_font_size: 14px;
  --para_text_color: #f1f2fd;
  --para_font_weight: 400;
  --para_line_height: 25px;

  --h5_text_color: #4f5de4;
  --h5_font_size: 24px;
}

/* Global Variables */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
body,
html {
  scroll-behavior: smooth;
  font-size-adjust: 100%;
  background-color: var(--body_bg);
}
h2 {
  font-size: var(--h2_font_size);
  font-weight: var(--font_weight_bold);
  line-height: var(--h2_line_height);
  color: var(--color_white);
  text-transform: capitalize;
}
h5 {
  color: var(--h5_text_color);
  font-size: var(--h5_font_size);
  font-weight: var(--font_weight_bold);
  line-height: var(--para_line_height);
  text-transform: uppercase;
}
p {
  color: var(--para_text_color);
  font-size: var(--para_font_size);
  line-height: var(--para_line_height);
  font-weight: var(--para_font_weight);
}
a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color_white);
  padding: 7px 15px;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input,
textarea {
  outline: none;
  box-shadow: none;
}
/* Reset CSS */

/* Common CSS Class */
.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
a.btn {
  color: var(--color_white);
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  background: #f57005;
  border-radius: 5px;
  padding: 8px 15px;
}
/* Common CSS Class */

/* ==== Header Area CSS ==== */
.header_area {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
}

.main_menu_area,
.main_menu ul,
.login_area ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.login_area ul li {
  color: var(--color_white);
}
.collapse_menu_bar {
  display: none;
}
/* ==== Header Area CSS ==== */
