/* Import fonts */

@import url(./googleFonts.css);

/* Global Variables */
:root {
  --body_bg: #121534;
  --color_white: #fff;
  --color_para: #f1f2fd;
  --color_btn: #f57005;
}

/* Global Variables */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  transition: all 0.3s ease-in-out;
}
body,
html {
  scroll-behavior: smooth;
  font-size-adjust: 100%;
  background-color: var(--body_bg);
}
h2,
h3,
h4,
h5 {
  color: var(--color_white);
  font-weight: 700;
  text-transform: capitalize;
}
h2 {
  font-size: 40px;
  line-height: 45px;
}
h3.section_heading {
  font-size: 24px;
  color: #4f5de4;
  line-height: 25px;
}
h4 {
  font-size: 20px;
  line-height: 25px;
}
h5 {
  font-size: 18px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: var(--color_para);
  font-weight: 400;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color_white);
  padding: 7px 15px;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input,
textarea {
  outline: none;
  box-shadow: none;
}
/* Reset CSS */

/* Common CSS Class */
.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
a.btn {
  color: var(--color_white);
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  background: var(--color_btn);
  border-radius: 5px;
  padding: 8px 15px;
}
/* Common CSS Class */

/* ==== Header Area CSS ==== */
.header_area {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(18, 21, 52, 0.5);
}

.main_menu_area,
.main_menu ul,
.login_area ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100%;
}
.main_menu.active {
  right: 0;
}
.login_area ul li {
  color: var(--color_white);
}
.collapse_menu_bar {
  display: none;
}
/* ==== Header Area CSS ==== */

/* ==== Home Area CSS */
.home_area {
  background: url(../images/home/homeBg.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.home_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
}
.content h1 {
  font-size: 80px;
  line-height: 85px;
  color: var(--color_white);
}
.content .home_btns {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}
.content .home_btns a.btn {
  position: relative;
  overflow: hidden;
  border: 2px solid #f57005;
}
.content .home_btns a.btn:hover {
  background: transparent;
}
.content .home_btns a.btn::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 19px;
  transform: rotate(33deg);
  top: 9px;
  right: -8px;
  background: rgba(255, 255, 255, 0.3);
}

/* ==== Home Area CSS */

/* ====Service Area CSS */
.service_about_us_area {
  background: url(../images/services/service_bg.png);
  background-size: cover;
  background-position: center;
}
.service_area {
  display: flex;
  gap: 40px;
  margin: 100px 0;
  justify-content: center;
}
.service {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  background: #13194f;
  padding: 25px;
  box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.3),
    -1px -1px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
  height: 330px;
  max-width: 303px;
}
.service::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--body_bg);
  border-bottom-right-radius: 25%;
  top: 0;
  right: 0;
  z-index: 1;
}
.service .service_icon {
  width: 76px;
  height: 76px;
  background: var(--color_btn);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
}
.service .service_name {
  margin: 20px 0;
  position: relative;
  z-index: 11111;
}
.service p {
  position: relative;
  z-index: 5468;
}
.service .service_btn {
  margin-top: 20px;
  position: relative;
  z-index: 51222;
}
.service .service_btn a {
  padding: 10px 0;
  color: var(--color_btn);
}

/* ====Service Area CSS */

/* ==== About us area CSS */
.about_us_area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;

  margin-bottom: 100px;
}
.outer {
  height: 660px;
  width: 660px;
  background: #35527d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 22222;
}
.outer span.icon {
  position: absolute;
}
.outer span.icon:first-child {
  top: 0;
  left: 0;
}
.outer span.icon:nth-child(2) {
  bottom: 0;
  right: 0;
}
.about_us_content h2 {
  margin: 25px 0;
}
.content_list {
  margin-top: 20px;
}
.content_wrap {
  background: linear-gradient(to bottom, #ff7200 90%, #c2bebe 50%);
  padding: 2px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.content_list .content {
  display: flex;
  gap: 20px;
  align-items: center;
  background: #121534;

  padding: 15px;
  border-radius: 10px;
}

/* ==== About us area CSS */
