/* Import fonts */

@import url(./googleFonts.css);

/* Global Variables */
:root {
  --body_bg: #121534;
  --color_white: #fff;
  --color_para: #f1f2fd;
  --color_btn: #f57005;
}

/* Global Variables */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  transition: all 0.3s ease-in-out;
}
body,
html {
  scroll-behavior: smooth;
  font-size-adjust: 100%;
  background-color: var(--body_bg);
}
h2,
h3,
h4,
h5 {
  color: var(--color_white);
  font-weight: 700;
  text-transform: capitalize;
}
h2 {
  font-size: 40px;
  line-height: 45px;
}
h3.section_heading {
  font-size: 24px;
  color: #4f5de4;
  line-height: 25px;
}
h4 {
  font-size: 20px;
  line-height: 25px;
}
h5 {
  font-size: 18px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: var(--color_para);
  font-weight: 400;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color_white);
  padding: 7px 15px;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input,
textarea {
  outline: none;
  box-shadow: none;
}
/* Reset CSS */

/* Common CSS Class */
.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
a.btn {
  color: var(--color_white);
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  background: var(--color_btn);
  border-radius: 5px;
  padding: 8px 15px;
}
/* Common CSS Class */

/* ==== Header Area CSS ==== */

